@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --font: Montserrat, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: #334;
  color: #ddd;
  font-family: var(--font);
}

main, header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button {
  border: none;
  padding: .3rem .8rem;
  border-radius: 3px;
  color: #335;
  font-weight: bold;
  background-color: #999;
  outline: none;
}

.button:hover {
  cursor: pointer;
  background-color: #bbb;
  color: #224;
}

.input {
  padding: .3rem .8rem;
  border: 1px solid #aad;
  border-radius: 3px;
  background-color: transparent;
  color: #eee;
  outline: none;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.user_container {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.buttons_container {
  display: flex;
  gap: .5rem;
}